<div class="container">

    <img src="/public/images/infographics/activities_01.jpg"/>

    <a href="https://www.google.com/maps/dir/The+Inn+at+Sunset+Cliffs,+1370+Sunset+Cliffs+Boulevard,+San+Diego,+CA+92107/32.7336134,-117.2561176/@32.7347045,-117.2564003,399m/data=!3m1!1e3!4m14!4m13!1m10!1m1!1s0x80deaa3290a1a941:0x950fb6ec71431051!2m2!1d-117.255317!2d32.736275!3m4!1m2!1d-117.2557743!2d32.7345225!3s0x80deabcd560a48d3:0xe56e5037bfe64639!1m0!3e2">
        <img src="/public/images/infographics/activities_02.jpg"/>
    </a>

    <a href="https://www.google.com/maps/dir/5806+Newport+Ave,+San+Diego,+CA+92107/The+Inn+at+Sunset+Cliffs,+Sunset+Cliffs+Boulevard,+San+Diego,+CA/@32.741937,-117.256072,16z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x80deaa3a50dee4bb:0xbae7f0fad5584460!2m2!1d-117.2526138!2d32.7478161!1m5!1m1!1s0x80deaa3290a1a941:0x950fb6ec71431051!2m2!1d-117.255317!2d32.736275">
        <img src="/public/images/infographics/activities_03.jpg"/>
    </a>

    <a href="https://www.google.com/maps/place/San+Diego+Zoo/@32.744102,-117.2339908,13z/data=!4m18!1m15!4m14!1m6!1m2!1s0x80deaa3290a1a941:0x950fb6ec71431051!2sThe+Inn+at+Sunset+Cliffs,+1370+Sunset+Cliffs+Boulevard,+San+Diego,+CA+92107!2m2!1d-117.255317!2d32.736275!1m6!1m2!1s0x80d95495497f80c9:0x5df0f4372635e247!2sSan+Diego+Zoo,+2920+Zoo+Drive,+San+Diego,+CA+92101!2m2!1d-117.149046!2d32.735316!3m1!1s0x80d95495497f80c9:0x5df0f4372635e247">
        <img src="/public/images/infographics/activities_04.jpg"/>
    </a>

    <a href="https://www.google.com/maps/place/Balboa+Park/@32.7402259,-117.2359244,13z/data=!4m18!1m15!4m14!1m6!1m2!1s0x80deaa3290a1a941:0x950fb6ec71431051!2sThe+Inn+at+Sunset+Cliffs,+1370+Sunset+Cliffs+Boulevard,+San+Diego,+CA+92107!2m2!1d-117.255317!2d32.736275!1m6!1m2!1s0x80d95496fa70cb03:0xedf30b3cb015f6c4!2sBalboa+Park,+1549+El+Prado,+San+Diego,+CA+92101!2m2!1d-117.144553!2d32.734148!3m1!1s0x80d95496fa70cb03:0xedf30b3cb015f6c4">
        <img src="/public/images/infographics/activities_05.jpg"/>
    </a>

    <a href="https://www.google.com/maps/place/Belmont+Park/@32.7474445,-117.256778,13z/data=!4m24!1m21!4m20!1m11!1m2!1s0x80deaa3290a1a941:0x950fb6ec71431051!2sThe+Inn+at+Sunset+Cliffs,+Sunset+Cliffs+Boulevard,+San+Diego,+CA!2m2!1d-117.255317!2d32.736275!3m4!1m2!1d-117.2525973!2d32.7719741!3s0x80deaa09295878af:0x79dc16665f780f40!1m6!1m2!1s0x80d954e299eb9719:0x146519427b49852f!2sBelmont+Park,+3146+Mission+Boulevard,+San+Diego,+CA+92109!2m2!1d-117.252069!2d32.77104!3e0!3m1!1s0x80d954e299eb9719:0x146519427b49852f">
        <img src="/public/images/infographics/activities_06.jpg"/>
    </a>



    <img src="/public/images/infographics/eat_01.jpg"/>

    <a href="https://www.google.com/maps/place/Point+Loma+Seafoods/@32.7301569,-117.2508068,15z/data=!4m18!1m15!4m14!1m6!1m2!1s0x80deaa3290a1a941:0x950fb6ec71431051!2sThe+Inn+at+Sunset+Cliffs,+1370+Sunset+Cliffs+Boulevard,+San+Diego,+CA+92107!2m2!1d-117.255317!2d32.736275!1m6!1m2!1s0x80deaba3c9cce7bf:0x3ee9b5da331f6ad6!2sPoint+Loma+Seafoods,+Emerson+Street,+San+Diego,+CA!2m2!1d-117.227843!2d32.72325!3m1!1s0x80deaba3c9cce7bf:0x3ee9b5da331f6ad6">
        <img src="/public/images/infographics/eat_02.jpg"/>
    </a>

    <a href="https://www.google.com/maps/place/Hash+House+a+Go+Go/@32.7534581,-117.2436274,13z/data=!4m18!1m15!4m14!1m6!1m2!1s0x80deaa3290a1a941:0x950fb6ec71431051!2sThe+Inn+at+Sunset+Cliffs,+1370+Sunset+Cliffs+Boulevard,+San+Diego,+CA+92107!2m2!1d-117.255317!2d32.736275!1m6!1m2!1s0x80d954c56d71a395:0xff119113223415ab!2sHash+House+a+Go+Go,+3628+5th+Avenue,+San+Diego,+CA+92103!2m2!1d-117.160643!2d32.743895!3m1!1s0x80d954c56d71a395:0xff119113223415ab">
        <img src="/public/images/infographics/eat_03.jpg"/>
    </a>

    <a href="https://www.google.com/maps/place/Isabel's+Cantina/@32.7693444,-117.2582002,13z/data=!4m18!1m15!4m14!1m6!1m2!1s0x80deaa3290a1a941:0x950fb6ec71431051!2sThe+Inn+at+Sunset+Cliffs,+1370+Sunset+Cliffs+Boulevard,+San+Diego,+CA+92107!2m2!1d-117.255317!2d32.736275!1m6!1m2!1s0x80dc01932f36ab33:0x4a0f704783774fe8!2sIsabel's+Cantina,+Felspar+Street,+San+Diego,+CA!2m2!1d-117.252617!2d32.798542!3m1!1s0x80dc01932f36ab33:0x4a0f704783774fe8">
        <img src="/public/images/infographics/eat_04.jpg"/>
    </a>

    <a href="https://www.google.com/maps/place/Hodad's/@32.7412139,-117.256072,16z/data=!4m18!1m15!4m14!1m6!1m2!1s0x80deaa3290a1a941:0x950fb6ec71431051!2sThe+Inn+at+Sunset+Cliffs,+1370+Sunset+Cliffs+Boulevard,+San+Diego,+CA+92107!2m2!1d-117.255317!2d32.736275!1m6!1m2!1s0x80deaa3a15978669:0xf75bffa6ec772e37!2sHodad's,+Newport+Avenue,+San+Diego,+CA!2m2!1d-117.251168!2d32.747193!3m1!1s0x80deaa3a15978669:0xf75bffa6ec772e37">
        <img src="/public/images/infographics/eat_05.jpg"/>
    </a>

    <a href="https://www.google.com/maps/place/Jungle+Java/@32.7413257,-117.256072,16z/data=!4m18!1m15!4m14!1m6!1m2!1s0x80deaa3290a1a941:0x950fb6ec71431051!2sThe+Inn+at+Sunset+Cliffs,+1370+Sunset+Cliffs+Boulevard,+San+Diego,+CA+92107!2m2!1d-117.255317!2d32.736275!1m6!1m2!1s0x80deaa3a430b6097:0x3c13ce32f0f815d0!2sJungle+Java,+5047+Newport+Avenue,+San+Diego,+CA+92107!2m2!1d-117.252041!2d32.747272!3m1!1s0x80deaa3a430b6097:0x3c13ce32f0f815d0">
        <img src="/public/images/infographics/eat_06.jpg"/>
    </a>

    <a href="https://www.google.com/maps/place/PB+Sushi/@32.7668835,-117.2674558,13z/data=!4m18!1m15!4m14!1m6!1m2!1s0x80deaa3290a1a941:0x950fb6ec71431051!2sThe+Inn+at+Sunset+Cliffs,+1370+Sunset+Cliffs+Boulevard,+San+Diego,+CA+92107!2m2!1d-117.255317!2d32.736275!1m6!1m2!1s0x80dc01eb48da75f1:0xb8a8685e0a051f94!2sPB+Sushi,+Garnet+Avenue,+San+Diego,+CA!2m2!1d-117.247979!2d32.798045!3m1!1s0x80dc01eb48da75f1:0xb8a8685e0a051f94">
        <img src="/public/images/infographics/eat_07.jpg"/>
    </a>


</div>
