<div class="<%= className %>">

    <div class="form-group">

        <label for="<%= name %>" class="property-label"><%= options.label %></label>
        <input type="file" name="<%= name %>">

    </div>

</div>